h1, h2 {font-family: 'Birthstone', cursive; color: blue; text-shadow: 2px 2px 2px rgb(17, 17, 172);}
h1 {font-size: 82px;}
h2 {font-size: 56px;}
h3, h4 {font-family: 'Birthstone', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Libre Baskerville', serif; color: limegreen; font-weight: bold;}
h3 {font-size: 24px; text-decoration: underline limegreen;}
h4 {font-size: 20px;}
nav {font-family: 'Dosis', sans-serif; color: rgb(255, 0, 0); font-weight: bold; text-align: right;}
p {font-family: 'Dosis', sans-serif; color: rgb(255, 0, 0); font-weight: bold; font-size: 18px;}
body {margin: 0px;}
body {background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm32-chim-03-i-wood_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=c0a43b301bb05ad70fe44ce5391f2764); background-repeat: repeat;}
form {color: red; margin: 10px; font-weight: bold; font-family: 'Dosis', sans-serif;}
footer {text-align: right;}